table,td
{
border: 3px solid black; border-collapse:collapse;
}
h1
{
font-Family:"Copperplate Gothic";
}
body
{
background-image:url(bd.png);
font-family:"Century Gothic";
}
div.con{
	font-size:2;
	text-align:right;
	
}

fieldset.fs
{
	width:40%;
	
}
table.login,td
{
border: 0px white;
}




