h1{
font-family:Matura MT Script Capitals;
color:white;
}
body{
	background-image:url("bgimg.png");
}
table{
	text-align:center;
	color:white;
	font-family:Matura MT Script Capitals;
	
}
