ul.c { list-style-type:square;}
h1.b{ font-family:jokerman;text-align:center;}
table.d,td{border-collapse: collapse; border: 1; border-style:dashed;}
tr.e{font-size:30px;}
table.f,td{border-collapse:collapse; border-style:solid;}
tr.g{background-color:grey;}
tr.h{background-color:blue;}